In [11]:
bioStudents = ["Ken John", 'Edet Yomi', 'Isaac Ureh']
chemStudents = ['Ken Ify', 'John Ephrim', 'Ojo Idoko' , 'Ureh Isaac']

set(bioStudents)

{'Edet Yomi', 'Isaac Ureh', 'Ken John'}

In [12]:
students = set(bioStudents).intersection(set(chemStudents))
students

set()

In [ ]:
# conditional stms are logical constructs that evaluates a condition to check whether the condition is true or false.
== equals to
!= not equalts to
>= greate than equals to
<= less than or equals to
not in
in

In [1]:
customerAge = 10
adultsAge = 18

if customerAge >= adultsAge:
    print("Order beer")
else:
    print('Dont order beer')

Dont order beer

In [3]:
print ('customer is not an adult') if( customerAge <= adultsAge)else(print ('customer is an adult'))

customer is not an adult

In [4]:
a = 2
b = 10
print("A") if(a < b) else print('B')

A

In [10]:
kindergartenMinAge = 2
elementaryMinAge = 4
highSchoolMinAge = 10
collegeMinAge = 16

candidateAge = 18
if candidateAge > kindergartenMinAge and candidateAge <= elementaryMinAge:
    print("student in kindergarten")

In [11]:
if candidateAge >= 16:
    print('Candidate belongs to college')
elif candidateAge >= 10:
    print('Candidate belongs to highschool')
elif candidateAge >= 4:
    print('Candidate belongs to elementary school')
else:
    print('Candidate belongs to kindergarten')

Candidate belongs to college

In [13]:
# convert script to function
def schoolCategory(name, age):
    kindergartenMinAge = 2
    elementaryMinAge = 4
    highSchoolMinAge = 10
    collegeMinAge = age

    candidateAge = age
    if candidateAge >= 75:
        print(f'{name} is too old to go to school')
    elif candidateAge >= 16:
        print(f'{name} belongs to college')
    elif candidateAge >= 10:
        print(f'{name} belongs to highschool')
    elif candidateAge >= 4:
        print(f'{name} belongs to elementary school')
    elif candidateAge >= 2:
        print(f'{name} belongs to kindergarten')
    else:
        print(f'{name} belongs to daycare')

In [14]:
schoolCategory("Raphael", 8)

Raphael belongs to elementary school

In [15]:
# Implementing for loop
studList = ['Frank', 'John', 'Egypt', 'Laura', 'Glow']
studAges = [20, 5, 17, 12, 1]
newList = set()
newStud = []

# for students,age in zip (studList, studAges):
#     newStud.extend(students, age)
#     print(students,age)
#     newList.add(students,age)
# newStud

for students,age in zip (studList, studAges):
    schoolCategory(students,age)

Frank belongs to college
John belongs to elementary school
Egypt belongs to college
Laura belongs to highschool
Glow belongs to daycare

In [17]:
# using while loop
counter = 0
while counter < len(studList):
    schoolCategory(studList[counter],studAges[counter])
    
    counter += 1

Frank belongs to college
John belongs to elementary school
Egypt belongs to college
Laura belongs to highschool
Glow belongs to daycare

In [1]:
# python modules: these are compact libraries that can be coded and distributed to be implemented by others. Convert A FUNCTION TO MODULE

%%writefile demoScript.py
def schoolEval(name, age):
    '''
    School eval accepts names and age and returns the category of school of the person depending on the age
    '''
    kindergartenMinAge = 2
    elementaryMinAge = 4
    highSchoolMinAge = 10
    collegeMinAge = age

    candidateAge = age
    if candidateAge >= 75:
        return [name, 'Cannot go to school']
    elif candidateAge >= 16:
        return [name, 'College']
    elif candidateAge >= 10:
        return [name, 'Highschool']
    elif candidateAge >= 4:
        return [name, 'Elementary']
    elif candidateAge >= 2:
        return [name, 'Kindergarten']
    else:
        return [name, 'Daycare']

studName, school = schoolEval('Raphael', 20)

UsageError: Line magic function `%%writefile` not found.

In [25]:
help(schoolEval)

Help on function schoolEval in module __main__:

schoolEval(name, age)
    School eval accepts names and age and returns the category of school of the person depending on the age

In [2]:

%%writefile demoScript.py
def schoolEval(name, age):
    '''
    School eval accepts names and age and returns the category of school of the person depending on the age
    '''
    kindergartenMinAge = 2
    elementaryMinAge = 4
    highSchoolMinAge = 10
    collegeMinAge = age

    candidateAge = age
    if candidateAge >= 75:
        return [name, 'Cannot go to school']
    elif candidateAge >= 16:
        return [name, 'College']
    elif candidateAge >= 10:
        return [name, 'Highschool']
    elif candidateAge >= 4:
        return [name, 'Elementary']
    elif candidateAge >= 2:
        return [name, 'Kindergarten']
    else:
        return [name, 'Daycare']

studName, school = schoolEval('Raphael', 20)

Writing demoScript.py

In [3]:
# Exercises
chemStudents = {'Agatha', 'Terry', 'Bill', 'Vincent', 'Auwal', 'Tayo', 'Veronica', 'Chinenye', 'Madu'}
chemScores = {55,67,76,58,97,56,45,76,87}

mathsStudents = {'Agatha', 'Terry', 'Bill', 'David', 'Caleb', 'Mahmud', 'Veronica', 'Kwasik', 'Nanteng', 'Chinenye', 'Madu'}
mathsScore = {67,87,54,59,92,52,78,76,87, 74,88}

biologyStudents = {'Bilkisu', 'Conrad', 'Bill', 'David', 'Kelvin', 'Mahmud', 'Veronica', 'Kwasik', 'Bwatamge', 'Chinenye', 'Cosmas', 'Moses'}
biologyScores = {61,78,44,99,60,52,58,76,73, 74, 88, 97}

commonChemMaths = chemStudents.intersection(mathsStudents)
commonChemMaths

{'Agatha', 'Bill', 'Chinenye', 'Madu', 'Terry', 'Veronica'}

In [7]:
commonAll = commonChemMaths.intersection(biologyStudents)
commonAll

{'Bill', 'Chinenye', 'Veronica'}

In [8]:
biologyStudents.difference(chemStudents)

{'Bilkisu',
 'Bwatamge',
 'Conrad',
 'Cosmas',
 'David',
 'Kelvin',
 'Kwasik',
 'Mahmud',
 'Moses'}

In [9]:
#  Implement code to determine which students take chemistry and math BUT NOT Biology
commonChemMaths = chemStudents.intersection(mathsStudents)
commonChemMaths

{'Agatha', 'Bill', 'Chinenye', 'Madu', 'Terry', 'Veronica'}

In [13]:
NotBiology = commonChemMaths.difference(biologyStudents)
NotBiology

{'Agatha', 'Madu', 'Terry'}

In [14]:
# Implement code to store the student names, subjects and scores in a python List
studentsChem = dict(zip(chemStudents, chemScores))
studentsChem

{'Agatha': 97,
 'Terry': 67,
 'Madu': 76,
 'Auwal': 45,
 'Vincent': 87,
 'Tayo': 55,
 'Bill': 56,
 'Veronica': 58}

In [2]:
biologyStudent = ['Bilkisu', 'Conrad', 'Bill', 'David', 'Kelvin', 'Mahmud', 'Veronica', 'Kwasik', 'Bwatamge', 'Chinenye', 'Cosmas', 'Moses']
biologyScore = [61,78,44,99,60,52,58,76,73, 74, 88, 97]
studentsBio = dict(zip(biologyStudent, biologyScore))
studentsBio

{'Bilkisu': 61,
 'Conrad': 78,
 'Bill': 44,
 'David': 99,
 'Kelvin': 60,
 'Mahmud': 52,
 'Veronica': 58,
 'Kwasik': 76,
 'Bwatamge': 73,
 'Chinenye': 74,
 'Cosmas': 88,
 'Moses': 97}

In [3]:
# Implement code to determine which students Passed or failed the exams. Assume that a failing grade is any score below 60 and a passing grade is any score 60 and above CHALLENGE
# QUESTION: Implement code to present all student results on a single table with the following columns: SUBJECT | STUDENT NAME | SCORE |

tempList = []
for names,scores in zip(biologyStudent,biologyScore):
    status = " "
    if scores <60:
        status = "FAILED"
    else:
        status = "PASSED"
    tempList.append([names, scores, status])
tempList

[['Bilkisu', 61, 'PASSED'],
 ['Conrad', 78, 'PASSED'],
 ['Bill', 44, 'FAILED'],
 ['David', 99, 'PASSED'],
 ['Kelvin', 60, 'PASSED'],
 ['Mahmud', 52, 'FAILED'],
 ['Veronica', 58, 'FAILED'],
 ['Kwasik', 76, 'PASSED'],
 ['Bwatamge', 73, 'PASSED'],
 ['Chinenye', 74, 'PASSED'],
 ['Cosmas', 88, 'PASSED'],
 ['Moses', 97, 'PASSED']]

In [7]:
import pandas as pd

pd.DataFrame(tempList, columns = ["names", "scores", "status"])

       names  scores  status
0    Bilkisu      61  PASSED
1     Conrad      78  PASSED
2       Bill      44  FAILED
3      David      99  PASSED
4     Kelvin      60  PASSED
5     Mahmud      52  FAILED
6   Veronica      58  FAILED
7     Kwasik      76  PASSED
8   Bwatamge      73  PASSED
9   Chinenye      74  PASSED
10    Cosmas      88  PASSED
11     Moses      97  PASSED

In [40]:
chemStuds = ['Agatha', 'Terry', 'Bill', 'Vincent', 'Auwal', 'Tayo', 'Veronica', 'Chinenye', 'Madu']
chemMarks = [55,67,76,58,97,56,45,76,87]

mathsStuds = ['Agatha', 'Terry', 'Bill', 'David', 'Caleb', 'Mahmud', 'Veronica', 'Kwasik', 'Nanteng', 'Chinenye', 'Madu']
mathsMarks = [67,87,54,59,92,52,78,76,87, 74,88]
def CalcResults(students, scores,subject):    
    tempList = []
    for names,score in zip(students,scores):
        status = " "
        if score <60:
            status = "FAILED"
        else:
            status = "PASSED"
        tempList.append([names,subject, score, status])
    return(tempList)

mainList = [[chemStuds, chemMarks, 'chemistry'], [mathsStuds, mathsMarks,'maths'], [biologyStudent, biologyScore,'biology']]
for records in mainList:
    studs, marks, subs = records
    results = CalcResults(studs, marks, subs)
    print(results)

[['Agatha', 'chemistry', 55, 'FAILED'], ['Terry', 'chemistry', 67, 'PASSED'], ['Bill', 'chemistry', 76, 'PASSED'], ['Vincent', 'chemistry', 58, 'FAILED'], ['Auwal', 'chemistry', 97, 'PASSED'], ['Tayo', 'chemistry', 56, 'FAILED'], ['Veronica', 'chemistry', 45, 'FAILED'], ['Chinenye', 'chemistry', 76, 'PASSED'], ['Madu', 'chemistry', 87, 'PASSED']]
[['Agatha', 'maths', 67, 'PASSED'], ['Terry', 'maths', 87, 'PASSED'], ['Bill', 'maths', 54, 'FAILED'], ['David', 'maths', 59, 'FAILED'], ['Caleb', 'maths', 92, 'PASSED'], ['Mahmud', 'maths', 52, 'FAILED'], ['Veronica', 'maths', 78, 'PASSED'], ['Kwasik', 'maths', 76, 'PASSED'], ['Nanteng', 'maths', 87, 'PASSED'], ['Chinenye', 'maths', 74, 'PASSED'], ['Madu', 'maths', 88, 'PASSED']]
[['Bilkisu', 'biology', 61, 'PASSED'], ['Conrad', 'biology', 78, 'PASSED'], ['Bill', 'biology', 44, 'FAILED'], ['David', 'biology', 99, 'PASSED'], ['Kelvin', 'biology', 60, 'PASSED'], ['Mahmud', 'biology', 52, 'FAILED'], ['Veronica', 'biology', 58, 'FAILED'], ['Kwasik', 'biology', 76, 'PASSED'], ['Bwatamge', 'biology', 73, 'PASSED'], ['Chinenye', 'biology', 74, 'PASSED'], ['Cosmas', 'biology', 88, 'PASSED'], ['Moses', 'biology', 97, 'PASSED']]