In [1]:
string = 'Hello'
string[0]

'H'

In [2]:
len(string)

5

In [4]:
string[len(string) - 1]

'o'

In [5]:
string[0:]

'Hello'

In [8]:
# LIST
# METHODS IN LIST : Append(i) | Extend | Insert | Remove | Pop | Count | Sort | Reverse | Index | Clear | Copy(CARIPRICCES)

nested_list = [1,2,3,4,[5,6,7, [8,9],[10]]]
nested_list[4][3][1]

9

In [10]:
# DICTIONARIES
# dictionaries can be nested in another dictionary
dic = {"key1" : {"inner_key" : [1,2,3,4]}}
dic['key1']['inner_key'][2]

3

In [13]:
dictionaries values can only be accessed with keys and the values can be any object
dic1 = {'k1':1, 'k2':2, 'k3': [1,2,3], 'k4':(4,5,6), 'k5':"James", "k6":20, 'k7': {'k8': [7,8,9]}, 'k9' : True}
dic1['k9']

True

In [15]:
dic1['k3']

[1, 2, 3]

In [16]:
dic1['k4'][1]

5

In [17]:
dic1['k5'][2]

'm'

In [20]:
dic1['k7']['k8'][1]

8

In [23]:
# Dictionary methods : Clear, Copy, fromkeys, get, items, keys, pop, popItems, setdefault, update
# clear(): Removes all items from the dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.clear()
print()

In [24]:
# copy
my_dict = {'a': 1, 'b': 2, 'c': 3}
new_dict = my_dict.copy()
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}

In [29]:
# fromkeys(seq, value): Returns a new dictionary with keys from seq and values set to value.
my_dict = ["a", "b", "c"]
new_seq = dict.fromkeys(my_dict, 12)
print(new_seq)

{'a': 12, 'b': 12, 'c': 12}

In [32]:
# get(key, default): Returns the value for a key if it exists in the dictionary. 
# If it doesn't exist, it returns the default value (which defaults to None).
my_dict = {'a': 1, 'b': 2, 'c': 3}
new_seq = my_dict.get('t')
print(new_seq)

None

In [34]:
# items(): Returns a list of key-value pairs as tuples.
my_dict = {'a': 1, 'b': 2, 'c': 3}
new_seq = my_dict.items()
print(new_seq)

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [35]:
# pop(key, default): Removes and returns the value for a key if it exists in the dictionary. 
# If it doesn't exist, it returns the default value (which defaults to a KeyError).
my_dict = {'a': 1, 'b': 2, 'c': 3}
new_seq = my_dict.pop('b')
print(new_seq)
print(my_dict)

2
{'a': 1, 'c': 3}

In [40]:
# popitem(): Removes and returns a key-value pair as a tuple. If the dictionary is empty, it raises a KeyError.
my_dict = {'a': 1, 'b': 2, 'c': 3}
new_seq = my_dict.popitem()
print(new_seq)
print(my_dict)

('c', 3)
{'a': 1, 'b': 2}

In [41]:
# setdefault(key, default): Returns the value for a key if it exists in the dictionary. 
# If it doesn't exist, it sets the value to the default value (which defaults to None) and returns the default value.
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.setdefault('a', 10)
my_dict.setdefault('d', 5)
print(my_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 5}

In [44]:
# update(dict2): Adds the key-value pairs from dict2 to the dictionary. If a key already exists, its value is updated.
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'a': 4, 'e': 5, 'd':6}

dict1.update(dict2)

print(dict1)

{'a': 4, 'b': 2, 'c': 3, 'e': 5, 'd': 6}

In [46]:
# Tuples: Tuples objects cannot be mutated.
# Tuples Methods: count, index, len, sorted, max, min

# count() - returns the number of occurrences of a specified value in a tuple.
my_tuple = (1,2,3,4,5,5,6,6,1)
print(my_tuple.count(1))

2

In [47]:
# index() - returns the index of the first occurrence of a specified value in a tuple.
my_tuple = (1,2,3,4,5,5,6,6,1)
print(my_tuple.index(1))

0

In [48]:
# len() - returns the number of items in a tuple.
my_tuple = (1,2,3,4,5,5,6,6,1)
print(len(my_tuple))

9

In [49]:
# sorted() - returns a sorted list of the elements in a tuple.
my_tuple = (1,2,3,4,5,5,6,6,1)
print(sorted(my_tuple))

[1, 1, 2, 3, 4, 5, 5, 6, 6]

In [50]:
# Set: This returns a set of unique elements 
my_set = {1,1,1,2,2,3,4,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [51]:
# Set methods : clear, add, copy, difference, discard,intersection, isdisjoint, issubset, pop, issuperset, remove, symmetric_difference,
# union

# add: adds an element to the set
my_sets = {1,2,3,4}
my_sets.add(5)
print(my_sets)

{1, 2, 3, 4, 5}

In [52]:
# clear: removes all elements from the set
my_sets = {1,2,3,4}
my_sets.clear()
print(my_sets)

set()

In [53]:
# copy: returns a shallow copy of the set
my_sets = {1,2,3,4}
newSet = my_sets.copy()
print(newSet)

{1, 2, 3, 4}

In [56]:
# difference: returns the difference between two sets as a new set
s1 = {1,2,3,4,5,6,7,8}
s2 = {1,2,3,6,7,8,9,10}
# these items are in s1 only
print(s1.difference(s2))
# these items are in s2 only
print(s2.difference(s1))

{4, 5}
{9, 10}

In [58]:
s1 = {12, 19, 77, 21, 45, 2, 11}
s2 = {19, 45, 7, 2, 23, 12, 11}
# these items are in s1 only
print(s1.difference(s2))
# these items are in s2 only
print(s2.difference(s1))

{21, 77}
{23, 7}

In [60]:
# discard: removes an element from the set if it is present
my_set = {1,2,3,4,5,6}
my_set.discard(2)
print(my_set)

{1, 3, 4, 5, 6}

In [61]:
# intersection: returns the intersection of two or more sets as a new set
s1 = {12, 19, 77, 21, 45, 2, 11}
s2 = {19, 45, 7, 2, 23, 12, 11}
print(s1.intersection(s2))

{2, 11, 12, 45, 19}

In [63]:
# isdisjoint: returns True if two sets have no intersection
s1 = {12, 19, 77, 21, 45, 2, 11}
s2 = {19, 45, 7, 2, 23, 12, 11}
s3 = {120, 345, 678, 984}
print(s1.isdisjoint(s2))
print(s1.isdisjoint(s3))

False
True

In [68]:
# issubset: returns True if another set contains this set
s1 = {12, 19, 77}
s2 = {12, 77, 19, 2, 23, 12, 11}
# Is all of s1 in s2(downwards)
print(s1.issubset(s2))

True

In [70]:
# issuperset: returns True if this set contains another set
s1 = {12, 19, 77}
s2 = {12, 77, 19, 2, 23, 12, 11}
# is all of s1 in s2(upwards)
print(s2.issuperset(s1))

True

In [71]:
# pop: removes and returns an arbitrary element from the set
s1 = {12, 19, 77}
x = s1.pop()
print(x)
print(s1)

19
{12, 77}

In [73]:
# remove: removes an element from the set, raises KeyError if not found
s1 = {12, 19, 77}
s1.remove(12)
print(s1)

{19, 77}

In [75]:
# symmetric_difference: returns the symmetric difference of two sets as a new set
s1 = {12, 19, 77, 29}
s2 = {12, 77, 19, 2, 23, 12, 11}

print(s2.symmetric_difference(s1))

{2, 11, 23, 29}

In [77]:
# union: returns the union of sets as a new set
s1 = {12, 19, 77, 29}
s2 = {12, 77, 19, 2, 23, 12, 11}

print(s1.union(s2))

{2, 11, 12, 77, 19, 23, 29}

In [78]:
# Comparison and logical operators
# logical: not, and and or
a = 5
b = 10
c = 2

print(a < b and b < c)   
print(a < b and b > c)

False
True

In [79]:
not(5 < 10) and (2 > 1)

False

In [80]:
not(5 < 10) or (2 > 1)

True

In [81]:
True or False

True

In [82]:
True and False

False

In [83]:
not True or False

False

In [84]:
not False and False

False

In [85]:
not True and True

False

In [86]:
# List comprehension
my_numbers = [1,3,5,2,8,10,4]
output = [num for num in my_numbers if num % 2 != 0]
output

[1, 3, 5]

In [88]:
output = [num**3 for num in my_numbers]
output

[1, 27, 125, 8, 512, 1000, 64]

In [90]:
# function
def my_func(name = "User"):
    print('Hello ' + name)
my_func()

Hello User

In [91]:
def my_func(name = "User"):
    return  name
out = my_func("Ted")
out

'Ted'

In [103]:
# map
def my_times(num):
    return num*3
seq = [1,3,5,6,8,9]

list(map(my_times, seq))

[3, 9, 15, 18, 24, 27]

In [105]:
# lambda expression:This is a way to define function by replacing the def and return keyword with lambda
number = lambda num : num * 3
number(5)

15

In [107]:
# Using lambda expressions in map function
list(map(lambda num : num * 6, seq))

[6, 18, 30, 36, 48, 54]

In [110]:
# tuple unpacking
x = [(1,2), (3,4,5), (6,7)]
a,b,c = x[1]
print(c)

y = [(10,12), (25,76), (31, 40)]
for a,b in y:
    print(b)

5
12
76
40

In [111]:
# Exercises
7 ** 4

2401

In [112]:
s = 'Hi there Sam'
string = s.split()
string

['Hi', 'there', 'Sam']

In [113]:

print('the diameter of the {} is {} km'.format("Earth", 12742))

the diameter of the Earth is 12742 km

In [119]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

In [128]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [134]:
def site_domain(email):
    for char in email:
        if(char == "@"):
            index_of = email.index(char)
            print(email[index_of + 1:])
site_domain("user@gmail.com")

gmail.com

In [146]:
def find_dog(words):
    new_words = words.split()
    for char in new_words:
        if(char.lower() == "dog"):
            return True

 
sentence = find_dog("this dog is beautiful")
sentence

True

In [149]:
def count_dogs(words):
    new_words = words.split()
    print(new_words.count("dog"))

count_dogs("the dog bites the other dog in the dog cage")

3

In [151]:
seq = ['soup','dog','salad','cat','great']

s_words = list(filter(lambda word : word.startswith("s"), seq))
s_words

['soup', 'salad']

In [170]:
# You are driving a little too fast, and a police officer stops you. 
# Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
# If your speed is 60 or less, the result is "No Ticket". 
# If speed is between 61 and 80 inclusive, the result is "Small Ticket". 
# If speed is 81 or more, the result is "Big Ticket". 
# Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

def speed_test(speed, birthday):
    if(birthday):
        speed = speed -5
    if (speed > 80):
        return "Big Ticket"
    elif(speed > 60):
        return "Small Ticket"
    return "No Ticket"
speed_test(60, False)

'No Ticket'