In [1]:
# Normal variable stores one variable
# Tuples is a type of variable that holds multiple items separated by commas in a bracket
studentAges = (23,34,87,12,11)
studentAges[1]

34

In [3]:
studentAges.count(23)
# this returns the number of times an item appears in a tuple

1

In [4]:
# index searches for the occurrence of an item and retursn the first position it appears
numbers = (1,2,1,4,5,2,4,6)
numbers.index(2)

1

In [5]:
# Tuples are immutable. after creation, Tuples can accept or remove items. Tuples behave like constants.
# it can be used to aviod any accidental modification, it is fast because there are fixed and immutable unlike list
# List creates larger arrays in memory incase of modifications. this leads to memory leak.
numbers.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
# combining two tuples using zip
studentsNames = ("Blessing", "Isreal", "John", "Eze")
studentAges = (23, 31, 15, 22)

for student,age in zip(studentsNames, studentAges):
    print(student,age)

Blessing 23
Isreal 31
John 15
Eze 22

In [8]:
# LIST: List is a mutable, ordered and allows duplicate.
studeName = ["Blessing", "Isreal", "John", "Eze"]
studAges = [23, 31, 15, 22]
# append: o(1)
studeName.append("Ify")

In [9]:
studeName

['Blessing', 'Isreal', 'John', 'Eze', 'Ify']

In [2]:
# Inserts an item at a given position O(n)
# variableName.insert(index, value)
studeName = ["Blessing", "Isreal", "John", "Eze"]
studeName.insert(1, "Raphael")
studeName

['Blessing', 'Raphael', 'Isreal', 'John', 'Eze']

In [4]:
# Extends: Extends the list by appending all the items from the iterable. This adds more than one ittem from another list
newNums = [100,200,300]
studAges = [23, 31, 15, 22]
studAges.extend(newNums)
studAges

[23, 31, 15, 22, 100, 200, 300]

In [5]:
# Remove: Removes the first item from the list which matches the specified value.
studeName.remove("Isreal")
studeName

['Blessing', 'Raphael', 'John', 'Eze']

In [6]:
# POP: Removes and returns the item at the specified index especially the last index if empty.
studeName.pop()
studeName

['Blessing', 'Raphael', 'John']

In [7]:
studeName.pop(0)
studeName

['Raphael', 'John']

In [11]:
# Index: Returns the index of the first occurrence of the specified list item O(1).
studAges.index(300)

6

In [12]:
# Count: Returns the number of times the specified item appears in the list.
studAges.count(23)

1

In [4]:
# sort: Sorts the list in place 0(nlog n).
studAges= [23, 31, 15, 22, 100, 200, 300]
studAges.sort()
studAges

[15, 22, 23, 31, 100, 200, 300]

In [8]:
#  Reverse: Reverses the elements of the list, in place. 0(n)
# studAges = [15, 22, 23, 31, 100, 200, 300]
studAges.reverse()
studAges

[300, 200, 100, 31, 23, 22, 15]

In [10]:
# min: This is a function that Returns the smallest item from a collectio
min(studAges)

15

In [11]:
min([1, 2], [2, 1], [3, 1])

[1, 2]

In [12]:
# Len: Returns an int type specifying number of elements in the collection.
# it counts elements once if its a set.
len({1,4,6,2,1,4,8,5})

6

In [13]:
len([1,4,6,2,1,4,8,5])

8

In [14]:
# sum: Returns a total of the items contained in the iterable object.
sum(studAges)

691

In [ ]:
# ============================================================

In [15]:
# set: contains unordered items, does not allow duplicates of an item and Sets are used to store multiple items in a single variable.
# A set is a collection which is unordered, unchangeable*, and unindexed.

# Creating a set
mySet = set()
type(mySet)

set

In [17]:
list1 = ['Blessing', 'Raphael', 'John', 'Eze']
list2 = ['Blessing', 'Raphael', 'Ojo', 'Ify']
list1.extend(list2)
list1

['Blessing', 'Raphael', 'John', 'Eze', 'Blessing', 'Raphael', 'Ojo', 'Ify']

In [19]:
newSet = set(list1)
newSet

{'Blessing', 'Eze', 'Ify', 'John', 'Ojo', 'Raphael'}

In [21]:
# Common uses include membership testing, removing duplicates from a sequence, and computing standard math operations on sets such as intersection, union, difference, and symmetric difference.
# Set methods
# ADD: Adds an element to the set. It takes just one argument and non-related object types.
newSet.add("Not a string")
newSet

{'Blessing', 'Eze', 'Ify', 'John', 'Not a string', 'Ojo', 'Raphael'}

In [22]:
newSet.add(3)
newSet

{3, 'Blessing', 'Eze', 'Ify', 'John', 'Not a string', 'Ojo', 'Raphael'}

In [26]:
# UPDATE: Adds elements to the set.
newSet.update({"zebra"})
newSet

{' ',
 3,
 'Blessing',
 'Eze',
 'Ify',
 'John',
 'Not a string',
 'Ojo',
 'Raphael',
 'a',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'newly added',
 'o',
 'p',
 'r',
 't',
 'u',
 'w',
 'y',
 'zebra'}

In [29]:
newAges = set(studAges)
newAges.update({90,10},[299, 190])
# set accepts iterable objects in the update methods
newAges

{10, 15, 22, 23, 31, 90, 100, 190, 200, 299, 300}

In [32]:
# DISCARD: Removes an element from the set. 
newAges.discard(299)
newAges

{10, 15, 22, 23, 31, 90, 100, 190, 200, 300}

In [33]:
#  discard does not throw a key error if the element is not found
newAges.discard(299)
newAges

{10, 15, 22, 23, 31, 90, 100, 190, 200, 300}

In [34]:
# remove: Removes an element from the set (raises KeyError if not found).
newAges.remove(299)
newAges

KeyError: 299

In [35]:
newAges.remove(190)
newAges

{10, 15, 22, 23, 31, 90, 100, 200, 300}

In [36]:
# POP: Removes and returns an arbitrary element from the set. It pops any item from the list
newAges.pop()
newAges

{10, 15, 22, 23, 31, 90, 200, 300}

In [37]:
newAges.pop()
newAges

{10, 15, 22, 23, 31, 90, 300}

In [38]:
newAges.pop()
newAges
# raises key error if set is empty

{15, 22, 23, 31, 90, 300}

In [39]:
# clear: Removes all elements from the set.
newAges.clear()
newAges

set()

In [43]:
# Difference: Returns a new set with elements in the set that are not in the specified iterables.
numbers1 = {10, 15, 22, 23, 31, 90, 300,1,2}
numbers2 = [10, 15, 22, 23, 31, 90, 300,400,500]
numbers1.difference(numbers2)

{1, 2}

In [41]:
{1, 2}.difference([2, 3])

{1}

In [45]:
num3 = {1,2,3,4,5}
num4 = {4,5,6}
num3.difference(num4)
# {1,2,3} are the dissimilar items in num3 but not in num4

{1, 2, 3}

In [46]:

num4.difference(num3)

{6}

In [47]:
{1, 2}.difference({'a': 2, 'b': 3}.values())

{1}

In [48]:
# Intersection: Returns a new set with elements common to the set and the specified iterables.
num4.intersection(num3)

{4, 5}

In [52]:
{1, 2, 3}.intersection([0, 1, 3], [1, 2, 0], [1, 5, 9], [3,4, 1])

{1}

In [53]:
# symmetric_difference: Returns a new set with elements in either the set or the specified iterable but not both.
{1, 2}.symmetric_difference([2, 3])

{1, 3}

In [54]:
num4.symmetric_difference(num3)

{1, 2, 3, 6}

In [55]:
num3.symmetric_difference(num4)

{1, 2, 3, 6}

In [56]:
#  Union: Returns a new set with elements from the set and the specified iterables.
{1, 2}.union([3, 4], (5, 6), {7, 8})

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# =======================================================
# DICTIONARIES

In [57]:
# dictinaries are mutable, they are dynamic(grow and shrink), can be nested(dictionaries in dictionaries). 
# Dictionaries uses unique key value pairs compared to list that uses index.
studentDicts = {
    "James": 90,
    "Isreal": 100,
    "Emeka": 20,
    "Matthew": 30
}
studentDicts.keys()

dict_keys(['James', 'Isreal', 'Emeka', 'Matthew'])

In [59]:
studentDicts.values()

dict_values([90, 100, 20, 30])

In [61]:
studentDicts['James']

90

In [62]:
studentNames = ["Blessing", "Ojo", "Okoro"]
studentScores = [20, 70, 50]
studentDict = dict(zip(studentNames,studentScores))
studentDict

{'Blessing': 20, 'Ojo': 70, 'Okoro': 50}

In [63]:
studentRecord = {
    "Biology": {"Blessing": 80, "James": 59, "Lovelyn": 70},
    "Physics": {"Blessing": 90, "James": 79, "Lovelyn": 40},
    "Chemistry": {"Blessing": 40, "James": 99, "Lovelyn": 60},
}
for subjects,scores in studentRecord.items():
    print(subjects, scores)

Biology {'Blessing': 80, 'James': 59, 'Lovelyn': 70}
Physics {'Blessing': 90, 'James': 79, 'Lovelyn': 40}
Chemistry {'Blessing': 40, 'James': 99, 'Lovelyn': 60}

In [66]:
studentRec = []
for subjects,scores in studentRecord.items():
    print(subjects, scores)
    for names,score in scores.items():
        print(names, score)
        studentRec.append([subjects, names, score])

Biology {'Blessing': 80, 'James': 59, 'Lovelyn': 70}
Blessing 80
James 59
Lovelyn 70
Physics {'Blessing': 90, 'James': 79, 'Lovelyn': 40}
Blessing 90
James 79
Lovelyn 40
Chemistry {'Blessing': 40, 'James': 99, 'Lovelyn': 60}
Blessing 40
James 99
Lovelyn 60

In [67]:
studentRec

[['Biology', 'Blessing', 80],
 ['Biology', 'James', 59],
 ['Biology', 'Lovelyn', 70],
 ['Physics', 'Blessing', 90],
 ['Physics', 'James', 79],
 ['Physics', 'Lovelyn', 40],
 ['Chemistry', 'Blessing', 40],
 ['Chemistry', 'James', 99],
 ['Chemistry', 'Lovelyn', 60]]

In [2]:
import pandas as pd

pd.Dataframe(studentRec, columns=[subjects, names, score])

ModuleNotFoundError: No module named 'pandas'